@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Application has the following functionality: user can login with username and password or create new account. After authentication, user can change his password.</p>
<p>After entering chat room, user can see list of users who are currently online and send messages to all this users.</p>
