
@{
    ViewBag.Title = "ChatView";
}

<h2 id="header"></h2>
<div class="row">
    <div class="col-md-4">
        <h3>Users</h3>
        <div id="chatusers"></div>
    </div>
    <div id="inputForm" class="col-md-4">
        <br />
        <input type="text" id="txt" class="form-control" />
        <button id="send" class="btn btn-success">Send</button>
        <select id="usersSelect">
            <option value="">All</option>
        </select>
    </div>
    <div class="col-md-4">
        <h3>Messages</h3>
        <div id="message"></div>
    </div>
    <input id="hdId" type="hidden" />
    <input id="username" type="hidden" />
</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.3.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/app.js"></script>
}
